extends layout

block content
  h1= title
  - let watch=[{watch_brand:"Fasttrack",watch_color:"Black",watch_cost:350},{watch_brand:"Apple",watch_color:"Brown",watch_cost:250},{watch_brand:"Rolex",watch_color:"blue",watch_cost:120}]
  div(class="container-fluid")
  div(class="row")
   each w in watch
    div(class="col-sm-2") #{w.watch_brand}, #{w.watch_cost}, #{w.watch_color}
   